*
{
    box-sizing:border-box;
}

body
{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}

body h1, h2
{
    font-family:'Shrikhand', cursive; ;
}

/*loader*/
.loader
{
    height: 100%;
    width: 100%;
    position: fixed;
    inset: 0px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    animation: load 1.5s;
    animation-fill-mode: forwards;
    animation-delay: 1s;
    z-index: 3;
    cursor: wait;
}
.dots
{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.dot1, .dot2, .dot3, .dot4
{
    height: 25px;
    width: 25px;
    border-radius: 50%;
    display: inline-block;
    position: relative;
    animation: loaders infinite 0.3s alternate;
    margin: 10px;
}
.dot1
{
    background-color:#9356DC;
    
}
.dot2
{
    background-color: #FF79DA;
    animation-delay: 0.05s;
}
.dot3
{
    background-color: #99E2D0;
    animation-delay: 0.1s;
}
.dot4
{
    background-color: grey;
    animation-delay: 0.15s;
}
@keyframes load
{
    100% {
        opacity: 0;
        visibility: hidden;
    }
}
@keyframes loaders
{
    100% {
        transform: translateY(-30px);
    }
}

/*header*/
header
{
    display:flex;
    flex-direction: column;
    align-items: center;
}
    /*logo*/
    .title
    {
        font-family: 'Shrikhand', cursive;
        text-align: center;
        box-shadow: 0px 1px 5px rgb(146, 145, 145);
        margin-bottom: 3px;
        width:100%;
    }
    .title h1
    {
        margin:5px;
    }
    /*recherche*/
    .searchbar
    {
        display: flex;
        justify-content: center;
        align-items: center;
        gap:25px;
        width:100%;
        background-color:#dfdfdf;
        height:35px;
    }  
    .searchbar .input
    {
        border: none;
        background-color:#dfdfdf;
    }
    /*description*/
    .description
    {
        width:100%;
        background-color: #F2F2F2;
        text-align: center;
        padding: 25px;
    }
    .description h3
    {
        font-size: 20px;
    }
    .description .search-button, .order .buy
    {
        height: 50px;
        text-decoration: none;
        border-radius: 30px;
        margin-top: 5px;
        background-image: linear-gradient(to bottom right, #FF79DA, #9356DC);
        border: none;
        box-shadow: 0px 1px 10px rgb(209, 209, 209);
        color: white;
        font-weight: bolder;
        padding: 1px 10px 1px 10px;
        transition: all 200ms ease-in;
        cursor: pointer;
    }
    .search-button:hover, .buy:hover, .help .li:hover
    {
        transform: scale(1.1);
    }
    .description p
    {
        font-weight: lighter;
    }
    /*fonctionnement*/
    .help
    {
        width:100%;
        margin-left: 30px;
        display: flex;
        flex-direction: column;
    }
    .help ol
    {
        padding-left: 10px;
    }
    .help li
    {
        display: flex;
        justify-content: flex-start;
        width:95%;
        border-radius: 15px;
        height: 60px;
        align-items: center;
        background-color: #F2F2F2;
        margin-bottom: 15px;
        box-shadow: 0px 1px 10px rgb(209, 209, 209);
        transition: all 200ms ease-in;
    }
    .help p
    {
        background-color:#9356DC;
        color: white;
        font-size: 13px;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        text-align: center;
        z-index: 2;
        left: 15px;
        padding-top: 5px;
        margin-left: -10px;
    }
    .help i 
    {
        margin-left: 40px;
        margin-right: 30px;;
    }
    .help li:hover
    {
        background-color: #ebe3f5;
    }
    .help li:hover i
    {
        color: #9356DC;
    }
/*section 1*/
.restaurants
{
    background-color: #F2F2F2;
    height: auto;
    width: 100%;
    padding: 20px 15px 50px 15px;
}
.restaurants h3
{
    font-size: 20px;
}
.bloc-restaurants
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}
.r1
   {
    margin-bottom: 20px;
   }
.restaurants-card
{
    height: auto;
    border-radius: 20px;
    box-shadow: 0px 1px 10px rgb(209, 209, 209);
    transition: all 200ms ease-in;
}
.restaurants-card:hover
{
    transform: scale(1.01);
}
.restaurants-card a
{
    text-decoration: none;
    color: black
}
.restaurants-img img
{
    width: 100%;
    height: 170px;
    object-fit: cover;
    border-radius: 15px 15px 0px 0px;
}
.restaurants-item
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.restaurants-title h4, .restaurants-title p
{
    margin: 12px;
}
.restaurants-item p
{
    font-weight: lighter;
}
.new
{
    position: absolute;
    display: flex;
    right: 30px;
    margin-top: 10px;
    background-color:#99E2D0;
    padding: 5px;
    color: green;
    font-size: 14px;
    border-radius: 5px;
}
.like i
{
    font-size: 20px;
    position: absolute;
    right: 25px;
    bottom: -10px;
}
.like
{
    position: relative;
}
.like .fas
{
    color: transparent;
    background-image: linear-gradient(#FF79DA, #9356DC);
    background-clip: text;
    -webkit-background-clip: text;
    opacity: 0;
    transition: all 200ms ease-in-out
}
.like .fas:hover
{
    opacity:1;
    transform: scale(1.1);
}


/*footer*/
footer
{
    background-color: rgb(59, 59, 59);
    color: white;
    padding: 10px 25px 20px 25px;
}
footer h2
{
    font-size: 18px;
}
footer a
{
    text-decoration: none;
    color: white;
}
footer ul
{
    list-style-type: none;
    padding: 0px;
}
footer li
{
    margin-left: 0px;
    margin-bottom: 5px;
}
footer i
{
    margin-right : 10px;
}
/*page menu*/
/*header menu*/
header .title
{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .title .back
{
    position: absolute;
    margin-right: 85%;
    font-size: 20px;
    transition: all 200ms ease-in-out;
}
.back:hover
{
    transform: translateX(-5px)
}
/*section*/
.menu
{
    display: flex;
    flex-direction: column;
}
.menu-list
{
    background-color: #F2F2F2;
    height: auto;
    border-radius: 30px 30px 0 0;
    height: auto;
    padding: 0px 15px 10px 15px;
}
.menu-img
{
    height: 150px;
}
.menu-img img
{
    width: 100%;
    object-fit: cover;
    z-index: -1;
    height: 200px;
}
.menu-title
{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.menu-courses h3
{
    margin: 0;
}
.menu-courses
{
    display: flex;
    flex-direction:column;
    gap: 50px;
}
.menu-courses h3
{
    text-transform: uppercase;
    font-weight: 300;
}
.bloc-courses
{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;
}
.courses-title
{
    width: 45px;
    border-bottom: solid #99E2D0 3px;
    margin-bottom: 10px;
}
.courses-list
{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
    width: 100%;
}
.courses-list p
{ font-weight: lighter;
font-size: 14px;
}

.menu-card 
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 1px 10px rgb(209, 209, 209);
    background-color: white;
    border-radius: 15px;
    opacity:0;
    animation: appear 2s alternate;
    animation-fill-mode: forwards;
    overflow: hidden;
    cursor: pointer; 
}
.menu-card:hover .check
{
    margin-right:0px;
}
.menu-card:hover .check i
{
    transform: rotate(360deg);
}
.m1
{
    animation-delay: 0.25s;
}
.m2
{
    animation-delay: 0.5s;
}
.m3
{
    animation-delay: 1s;
}
.m4
{
    animation-delay: 1.5s;
}
@keyframes appear
{
    100% {
        transform: translateY(-30px);
        opacity: 1
    } 
}
.starters-item h4, .starters-item p
{
    margin: 5px;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.starters-item
{
    width: 100%;
    overflow: hidden;
    padding: 10px 10px 10px 0px;
    display: flex;
    justify-content: space-between;
}
.price
{
    font-weight: 700;
    display: flex;
    align-items: end;
    justify-content: flex-end;
    gap: 10px;
    transition: all 0.5s ease-in-out;
    padding-left: 5px;
}
.check
{
    background-color: #99E2D0;
    padding: 22.5px;
    color: white;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
    margin-right:-72px;
    transition: all 0.5s ease-in-out;
}
.check i
{
    font-size: 27px;
    transition: all 0.6s ease-in-out;
}
.order .buy
{
    height: 50px;
    text-decoration: none;
    border-radius: 30px;
}
.order
{
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
    background-color: #F2F2F2;
}
.order .buy
{
    width: 200px;
}

@media screen and (min-width:688px)
{   
    .help
    {
        margin-left: 30px;
    }
    
   .help ol
   {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 95%;
   } 
   .help p
   {
       margin-left: -10px;
       left: inherit;
       position: unset;
   }
   .help i
   {
       margin-left:20px;
       margin-right: 20px;

   }
   .bloc-restaurants
   {
       flex-direction: row;
       gap: 0px
   }
   .restaurants-card
   {
       width: 45%
   }
   .r1
   {
    margin-bottom: 40px;
   }
   .new
   {
       margin-left: 10px;
       right: inherit
   }
   .bloc-menu
   {
       display: flex;
       justify-content: space-evenly;
       gap: 15px
   }
   .menu-courses
   {
       width: 33%;
   }
}
